.bg-white{
    background-color: white;
}

.signIn{
    color: #03c5cc;
}

.signUp{
    color: #6c757d;
}

.text-black{
    color: black;
}

.buttons{
    background-color: #f8fafb;
}

.border-color{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #03c5cc;
    border-bottom-width: .05rem;
}

.border-post{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(94, 94, 94);
    border-bottom-width: .01rem;
}

.border_otp{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #03c5cc;
    border-bottom-width: .05rem;
}

.link-color{
    color: #03c5cc;
    font-size: smaller;
}

.button-color{
    /* background-color: #03c5cc; */
    color: white;
}

.border-color:focus{
    outline: none;
}

.border-post:focus{
    outline: none;
}
